<html>
	<head>
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/app.css" />
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<title>Today's Trivia Question</title>
	</head>
	<body>
		<div class="row">
			<div class="small-12 columns">
				<h1>Answer Today's Trivial question for a Chance to Win</h1>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>

		<div class="row">
			<div class="small-6 columns">
				<img src="img/mcdonalds.png" style="height:250px; float: right" />
			</div>
			<div class="small-6 columns">
				<img src="img/orlando-magic.jpg" style="height:250px" />
			</div>
		</div>

		<div class="row">
			<div class="small-4 columns small-centered" style="padding-left: 0">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/O5LmxX0o_jI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="row">
			<div class="small-8 columns small-centered">
				<h2>What was the color of the background in the last frame?</h2>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<div class="row">
					<form action="">
						<div class="small-3 columns">
							<label><input type="radio" /> Red</label>
						</div>
						<div class="small-3 columns">
							<label><input type="radio" /> Green</label>
						</div>
						<div class="small-3 columns">
							<label><input type="radio" /> Blue</label>
						</div>
						<div class="small-3 columns">
							<label><input type="radio" /> Purple</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>