<html>
	<head>
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<title>Log In To Win!</title>
	</head>
	<body>
		<h1>Connect your account for a chance to win a fabulous prize</h1>

		<div class="row">
			<div class="large-12 columns">
				<p>
					<form action="">
						<div class="row">
							<input type="text" placeholder="Name" name="name"/>
						</div>

						<div class="row">
							<input type="text" placeholder="Name" name="email"/>
						</div>

						<div class="row">
							<input type="text" placeholder="Password" name="email" type="password" />
						</div>

						<div class="row">
							<input type="text" placeholder="Confirm password" name="email" type="password" />
						</div>

						<div class="row">
							<input type="submit" value="Create Account" />
						</div>
					</form>
				</p>
			</div>
		</div>
	</body>
</html>