<% include ../partials/header %>
<div class="bg-blue">

	<div class="row">
		<div class="small-6 columns">
			<img src="img/mcdonalds.png" />
		</div>
		<div class="small-6 columns">
			<img src="img/Logo-OrlandoMagic-Big.png" style="padding-top: 30px" />
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<center><img src="img/Image-McDonalds.png" /></center>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p style="color: white; text-align: center">Simply a new choice for your McCombo</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns small-centered" style="padding-left: 0">
			<center><iframe src="https://www.youtube.com/embed/O5LmxX0o_jI" frameborder="0" allowfullscreen></iframe></center>
		</div>
	</div>

	<div class="row">
		<div class="small-11 columns small-centered">
			<h2>What was the color of the background in the last frame?</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="row">
				<form action="">
					<p><label><input type="radio" /> Red</label></p>
					<p><label><input type="radio" /> Green</label></p>
					<p><label><input type="radio" /> Blue</label></p>
					<p><label><input type="radio" /> Purple</label></p>
				</form>
			</div>
		</div>
	</div>
</div>