<% include ../partials/header %>
<div class="bg-blue">

	<div class="row">
		<div class="small-6 columns">
			<img src="img/PapaJohns.svg.png" />
		</div>
		<div class="small-6 columns">
			<img src="img/Logo-OrlandoMagic-Big.png" />
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<p>Watch the video below and answer our trivia question for a chance to win. It's really that easy!</p>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px; padding: 0 20px">
		<div class="small-12 columns small-centered" style="padding-left: 0">
			<center><div style="position:relative;width:100%;padding-top:56.25%;padding-bottom:40px;"><iframe style="position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%;" src="http://www.ispot.tv/share/7eQC" frameborder="0" scrolling="no" allowfullscreen=""></iframe></div></center>
		</div>
	</div>

	<div class="row">
		<div class="small-11 columns small-centered">
			<h2>What type of trick shot does Papa John sink?</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="row">
				<form action="/results" style="padding: 0 30px">
					<p><label><input type="radio" name="answer" /> Behind the Back</label></p>
					<p><label><input type="radio" name="answer" /> Hook Shot</label></p>
					<p><label><input type="radio" name="answer" /> Kick In</label></p>
					<p><label><input type="radio" name="answer" /> Granny Shot</label></p>
					<p style="text-align: center"><input type="submit" value="SUBMIT" class="button" /></p>
				</form>
			</div>
		</div>
	</div>
</div>