<% include ../partials/header %>
	<div class="bg-gray">
		<div class="row">
			<div class="small-12 columns">
				<p>Group ticket holders, get a chance to win exclusive prizes while competing with other groups. Login and discover challenges that can increase your chances.</p>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<p style="text-align: center"><a href="/auth/facebook" class="button">Connect with Facebook</a></p>
			</div>
		</div>

		<div class="row" id="row-authentication">
			<div class="small-12 columns">
				<p style="text-align: center"><a href="#">LOG IN</a> | <a href="/register">CREATE AN ACCOUNT</a></p>
			</div>
		</div>
	</div>
<% include ../partials/header %>