<% include ../partials/header %>
	<div class="bg-gray">
		<div class="row">
			<div class="small-12 columns">
				<p>Group ticket holders, get a chance to win exclusive prizes while competing with other groups. Login and discover challenges that can increase your chances.</p>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<p style="text-align: center"><a href="/auth/facebook"><img src="img/pZzc4.png" style="width: 200px" /></a></p>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<p style="text-align: center"><a href="#" class="a-dark">LOG IN</a> | <a href="/register" class="a-dark">CREATE AN ACCOUNT</a></p>
			</div>
		</div>
	</div>
<% include ../partials/header %>