<% include ../partials/header %>
<div class="bg-blue">
	<div class="row">
		<div class="small-12 columns">
			<h3>Thank you for participating!</h3>
			<p>The correct answer was <b>KICK SHOT</b></p>
			<p>Download our app or connect more social accounts to increase your chances to win. Each connected social account gives you one more entry into the drawing.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="row">
				<form action="" style="padding: 0 30px">
					<p style="text-align: center"><img src="img/Available_on_the_App_Store.png" style="width: 120px" /> <img src="img/Android-app-on-google-play.svg.png" style="width:120px" /></p>
					<p style="text-align: center"><img src="http://www.mitchellandmitchell.com/img/~www.mitchellandmitchell.com/twitter-login.gif" style="width:150px" /></p>
				</form>
			</div>
		</div>
	</div>
</div>