<% include ../partials/header %>
<div class="bg-gray">
	<div class="row">
		<div class="small-8 small-centered columns">
			<h3 style="text-align: center">Thank you for connecting with us through Facebook!</h3>
			<p>We'd love to know where you're sitting. Please tell us your seat number.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 small-centered columns" style="margin: auto">
			<form action="/engagement">
				<div class="row">
					<div class="small-12 small-centered columns">
						<p><input type="text" placeholder="Section" name="section" class="small-12"/></p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 small-centered columns">
						<p><input type="text" placeholder="Row" name="section" class="small-12"/></p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 small-centered columns">
						<p><input type="text" placeholder="Seat" name="section" class="small-12"/></p>
					</div>
				</div>
				<div class="row">
					<div class="small-6 small-centered columns">
						<p><input type="submit" placeholder="section" name="section" class="button" class="small-12 small-centered"/></p>
						<p><a href="#" style="text-align: center" class="a-dark">Skip This</a></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>