<% include ../partials/header %>
<div class="bg-gray">
	<div class="row">
		<div class="small-12 columns">
			<p>Tell us your seat number</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<form action="#">
				<div class="row">
					<div class="small-12 columns">
						<input type="text" placeholder="Section" name="section" />
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<input type="text" placeholder="Row" name="section" />
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<input type="text" placeholder="Seat" name="section" />
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<input type="submit" placeholder="section" name="section" class="button"/>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<a href="/engagement" class="button">I don't have my ticket yet</a>
		</div>
	</div>
</div>